<html>
<head>
<style>
table, th, td {
   border: 1px solid black;
}
</style>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <% require "securerandom" %>
  <% user = User.find(session[:user_id])%>
  <p style="text-align:right; color:blue;">Welcome <%= user.email%>(<%= user.plan%>)</p>
  <p style="text-align:right;"> <%= link_to "logout", :controller=> "sessions", :action=> "destroy" %></p>
  <p style="text-align:right;"> <%= user.count%> / <%= user.todaylimit%></p>
  <p>Generate api-key <%= link_to "+", :controller=> "apigeneration", :action=>"add" %> </p>
  <table  id="myTable"> 
    <tr>
      <td>api_key </td>
      <td>Creation</td>
      <td>Usage</td>
      <td>email</td>
    </tr> 
    <%Apigeneration.where(email:user.email).find_all() do |apigenerations|%>
      <tr>
        <td><%= apigenerations.apikey  %> <%= link_to "X", {controller:"apigeneration", action:"delete", my_params:apigenerations.apikey}%></td>
        <td><%= apigenerations.created_at %></td>
        <td><%= apigenerations.usage %></td>     
        <td><%= apigenerations.email %></td>     
      </tr>
    <%end%>
  </table>
</body>
</html>
